:root {
    --color-main: #F3F5FC;
    --color-accent-1: #0A3871;
    --color-accent-2: #FFFFFF;
    --color-accent-3: #495057;
    --color-hover-1: #052051;
    --color-hover-2: #CED4DA;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--color-main);
    font-family: Inter;
    font-weight: 400;
    color: var(--color-accent-1);
    height: 100vh;
}

/* Logo */
header {
    position: absolute;
    top: 40px;
    left: 84px;
}

/* Main */
main {
    width: 100%;
    min-height: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

/* Input */
.input {
    width: 60%;
    margin: 40px;
    padding: 128px 0 32px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input__text {
    background: var(--color-main);
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    outline: none;
    border-color: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    color: var(--color-accent-1);
    resize: none;
}

.input p::before {
    content: url('https://api.iconify.design/bi/exclamation-circle-fill.svg');
    padding-right: 8px;
    vertical-align: text-top;
}

.input p {
    font-size: 12px;
    line-height: 150%;
    color: var(--color-accent-3);
    opacity: 0.8;
    margin: 16px 0;
}

.input__buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.input__buttons__button, .output__result__buttons__button {
    border: 1px solid var(--color-accent-1);
    border-radius: 24px;
    padding: 24px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    transition-duration: 0.4s;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.input__buttons__button {
    width: 50%;
    background: var(--color-accent-1);
    color: var(--color-main);
}

.button--main {
    background: var(--color-main);
    color: var(--color-accent-1);
}

.input__buttons__button:hover, .output__result__buttons__button:hover {
    background: var(--color-hover-1);
}

.button--main:hover {
    background: var(--color-hover-2);
}

/* Output */
.output {
    max-width: 400px;
    max-height: calc(96vh - 80px);
    width: 40%;
    margin: 40px;
    padding: 32px;
    border-radius: 32px;
    background: var(--color-accent-2);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
}

/* Output not-found */
.output__not-found {
    width: 100%;
}

.output__not-found__doll {
    width: 100%;
}

.output__not-found__text-box {
    margin: 0 auto;
    text-align: center;
}

.output__not-found__text-box p {
    font-size: 16px;
    line-height: 150%;
    color: var(--color-accent-3);
}

.output__not-found__text-box p:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 16px;
}

/* Output result */
.output__result {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.output__result__text {
    font-size: 24px;
    padding: 5px;
    min-height: 50px;
    max-height: calc(100% - (200px));
    overflow: auto;
    overflow-wrap: break-word;
}

.output__result__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-top: 32px;
}

.output__result__buttons__button {
    background-color: var(--color-accent-1);
    color: var(--color-accent-2);
}

.button--accent-2 {
    background: var(--color-accent-2);
    color: var(--color-accent-1);
    display: none;
}

.button--accent-2:hover {
    background: var(--color-hover-2);
}

/* Footer */
footer {
    height: 4%;
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    line-height: 150%;
    text-align: center;
}

footer  a {
    margin-left: 10px;
}


/* Animations */
.pulse {
    animation: pulse 1s forwards ease-out;
    /* box-shadow: 0px 15px 28px -11px rgba(255, 79, 93, 0.9); */
}
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(10, 56, 113, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 20px rgba(10, 56, 113, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(10, 56, 113, 0);
    }
  }
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(10, 56, 113, 0.4);
      box-shadow: 0 0 0 0 rgba(10, 56, 113, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 20px rgba(10, 56, 113, 0);
      box-shadow: 0 0 0 20px rgba(10, 56, 113, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(10, 56, 113, 0);
      box-shadow: 0 0 0 0 rgba(10, 56, 113, 0);
    }
  }


/* Media queries */
/* Tablet size */
@media screen and (max-width: 768px) {
    header {
        top: 40px;
        left: 40px;
    }
    
    main {
        flex-direction: column;
    }

    .input {
        width: calc(100% - (80px));
        padding: 128px 0 0;
    }

    .output {
        width: calc(100% - (80px));
        margin-top: 0;
        max-width: 100%;
    }

    .output__not-found {
        margin: 0;
    }

    .output__not-found__doll {
        display: none;
    }
}

/* Phone size */
@media screen and (max-width: 375px) {
    header {
        top: 24px;
        left: 16px;
    }

    .input {
        margin: 16px;
        width: calc(100% - (32px));
        padding: 74px 0 0;
    }

    .input__buttons {
        flex-direction: column;
    }

    .input__buttons__button {
        width: 100%;
    }

    .output {
        margin: 0 16px 16px;
        width: calc(100% - (32px));
    }

    footer {
        padding: 0 16px;
    }
}